.ConeteudoPageWorks {

    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 64px;
    padding: 2.5rem;
    border-bottom: 1px solid black;
}

.TitlePageWorks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Whatworks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100rem;
    margin: 2rem;
    color: white;
}

.Icon {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 32px;
    padding: 0rem 0rem 1rem;

}

@media screen and (max-width: 768px) {
    .ConeteudoPageWorks {
        flex-direction: column;
        font-size: 28px;
        /* reduzido para caber na tela */
        margin-top: 2rem;
        padding: 1.5rem;
        border-bottom: 1px solid black;
        text-align: center;
    }

    .TitlePageWorks {
        flex-direction: column;
        font-size: 24px;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
    }

    .Whatworks {
        display: grid;
        grid-template-columns: 1fr;
        /* muda de 2 colunas para 1 coluna */
        gap: 1rem;
        width: 100%;
        /* ocupa 100% da tela */
        margin: 1rem 0;
    }

    .Icon {
        font-size: 24px;
        /* reduz ícones para caber melhor */
        padding-bottom: 0.5rem;
        justify-content: center;
    }
}