.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  color: white;
  font-family: "Google Sans Code", monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-shadow: 1px 0px 1rem 1px rgba(0, 0, 0, 0.562);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links li a:hover {
  color: #4CAF50;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logomarca {
  width: 2rem;
}

@media screen and (max-width: 768px) {


  .logo {
    font-size: 1.2rem;
    /* reduz tamanho da logo */
  }

  .logomarca {
    width: 1.5rem;
    /* reduz tamanho do ícone/marca */
    height: auto;
  }

  .nav-links {
    justify-content: center;
    /* links ficam empilhados */
    gap: 0.8rem;
    /* menor espaçamento entre links */
    width: 100%;
  }

  .nav-links li a {
    font-size: 0.9rem;
    /* reduz tamanho da fonte para mobile */
  }
}